<!DOCTYPE html>
<html ng-app="ng-learn">

  <head>
    <link rel="stylesheet" href="style.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body>
    <div ng-controller="TweetCtrl as t">    
      <h3 ng-show="name">Hello {{name}}!</h3>
      <h4>{{t.something}}</h4>
      <input ng-model="name" ng-model-options="{ debounce: 500 }" placeholder="Enter your name">
      <br><br>
      <textarea ng-model="t.tweet" rows="5" ng-class="{ red: t.isTweetMaxed() }"></textarea>

      <h3 ng-class="{ red: t.isTweetMaxed() }">
        {{t.getRemainingCharacters()}}
      </h3>
      <button ng-disabled="t.isTweetMaxed()" ng-click="t.submitTweet(t.tweet)">Tweet</button>

      <ul>
        <li ng-repeat="tweet in t.tweetsList">{{tweet}}</li>
      </ul>

    </div>

  </body>

</html>