<!DOCTYPE html>
<html ng-app>

  <head>
    <link rel="stylesheet" href="style.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body>
    <h1>Hello!</h1>
    <input ng-model="name" ng-model-options="{ debounce: 500 }" placeholder="Enter your name">
    <input type="checkbox" ng-model="fancy"><br><br>
    <textarea ng-model="tweet" rows="5" ng-class="{ red: (tweet.length > 140)}"></textarea>

    <h3 ng-class="{ red: (tweet.length > 140)}">{{140 - tweet.length}}</h3>

    <h3 ng-show="name">Hello {{name}}!</h3>
    <h3 ng-show="fancy">Fancy!</h3>

    <ul>
      <li ng-hide="fancy">Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li ng-hide="fancy">Item 4</li>
      <li>Item 5</li>
    </ul>
  </body>

</html>