body {
  padding-top: 30px;
  text-align: center;
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

input {
  margin-left: 3px;
  padding: 4px;
  border-radius: 10px;
}

textarea {
  border-radius: 10px;
}

.red {
  color: red;
}